@import "tailwindcss";

/* Fuente global: PT Sans (de Google Fonts) */
@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ffffff;
  }
}

/* Filtros de color para SVG */
.filter-blue {
  filter: invert(58%) sepia(59%) saturate(301%) hue-rotate(169deg)
    brightness(84%) contrast(95%);
}

.filter-white {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg)
    brightness(100%) contrast(100%);
}

/* Aplicar PT Sans globalmente */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'PT Sans', sans-serif;
}
